@import url('https://fonts.cdnfonts.com/css/harry-potter');

body {
    background-color: rgb(108, 37, 37);
    text-align: center;
    color: rgb(213, 169, 68);
}

h1 {
    color: white;
    font-family: 'Harry Potter', sans-serif;

}

.dog {
    font-family: fantasy;
}

ul {
    list-style: none;
    margin-right: 40px;
}

table {
    margin: auto;
}
table, th, td {
    border: 1px solid gray;
}

.cabbage {
    color: chartreuse
}