* {
    box-sizing: border-box;
}

body    {
    background-color: whitesmoke;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin: 25px auto;
    filter: drop-shadow(2px 2px 1px rgba(221, 220, 220, 0.489));
}

.topbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #92b2ba;
    margin: 25px auto;
}

.info {
    padding: 0;
}

.list1 {
    list-style: none;
    display: inline;
    text-align: center;
    margin: 45px;
    font-family: 'DM Sans', sans-serif;
}


.banner {
    width: 90%;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.hands {
    height: auto;
    width: 100%;
}

.flowerbox, .forall {
   position: absolute;
   font-family: 'DM Sans', sans-serif;

}

.flowerbox {
    color: #92b2ba;
    font-weight: bold;
    font-size: 50px;
    margin: 150px 20px 10px;
    text-shadow: 1px 1px white;
}

.forall {
    margin: 215px 20px 10px;
    font-weight: bolder;
    color:  #f0a8bb;
    font-size: 14px;
    background-color: white;
    padding: 6px;
}

/* .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9 {
    
} */


.img {
    height: auto;
    width: 100%;

}

.list {
    padding: 0 0 7px 7px;
    margin: auto;
}

.title {
    margin: 0;
    padding: 7px
}

.options {
    list-style: none;
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-size: 8px;
    color: #777777;
    background-color: #eeeeee;
    padding: 3px;
    margin: 2px;
}

h3 {
    color: #92b2ba;
    font-family: 'DM Sans', sans-serif;
    font-weight: bolder;
    font-size: 13px;
    
}

.caption {
    position: relative;
    background-color: white;
    margin: -4px auto;
}


.price {
    background-color: #f0a8bb;
    font-family: 'DM Sans', sans-serif;
    font-size: 11px;
    font-weight: bolder;
    text-align: center;
    color: white;
    width: 30px;
    padding: 3px;
    position: absolute;
    bottom: 30px;
    right: 10px;

}

footer {
    width: 90%;
    margin: 25px auto;
    display: flex;
    color: #777777;
    background-color: #eeeeee;   
    align-items: center; 
    padding-left: 24%;
   
}

.logo {
    display: block;
}

.social_media {
    text-align: center;
}

.cake {
    height: 70px;
}

.divider {
    width: 1px;
    background: rgb(226, 224, 224);
    height: 100px;
    margin: 25px 30px;
}
.customer, .flowerbox_info {
    text-align: left;
    margin: 5px auto;
}

.help {
    padding: 0;
    margin: 0;
}

.last_list {
    list-style: none;
    margin: 3px;
    font-family: 'DM Sans', sans-serif;
    font-size: 9px;
    margin: 7px auto;
}