* {
    box-sizing: border-box;
}

.head {
    min-height: 10px;
    background-color: rgba(142, 182, 185, 0.901);
    width: 90%;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;

}

.info {
    height:20px;
    width: 100%;
    display: inline;
    padding: 40px;
    margin: auto;
   
}

.banner {
    min-height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    padding: 0 0 20px 0;
}


.hands {
    height: auto;
    max-width: 100%;
}


#flowerbox {
    /* min-height: 50px; */
    position: absolute;
    color: rgba(142, 182, 185, 0.901);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 0px white;
    /* top: 45%; */
    /* padding: 0 20px 0 0;
    margin: 0 0 10px 0; */
    

}

#forall {
    /* min-height: 20px; */
    position: absolute;
    color: lightpink;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;

    /* bottom: 40% */
    /* margin: 10px 20px 0 0; */
    
}

.row1 {
    min-height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.flowers1 {
    height: 300px;
    max-width: 100%;

}

.names1 {
    height: 100px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

h4 {
    color :rgba(142, 182, 185, 0.901);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#forgive, #pink, #hopeful {
    height: 100px;
    display: inline-block;
    margin: auto;

}

#forgive_choice, #pink_choice, #hopeful_choice {
    display: inline-block;
   
}


/* /////// */
.row2 {
    min-height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px 0;
}

.flowers2 {
    height: 300px;
    max-width: 100%;
}

.row3 {
    min-height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flowers3 {
    height: 300px
}

