* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.bar {
    height: 60px;
    width: 90%;
    color: white;
    font-family:'DM Sans', sans-serif;
    background-color:#92b2ba;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;

}

.info {
    max-width: 100%;
    display: inline;
    padding: 40px;
    margin: auto;
}


.banner {
    min-height: 200px;
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.hands {
    height: auto;
    max-width: 100%;

}


#flowerbox, #forall {
    position: absolute;
}


#flowerbox {
    position: absolute;
    color: #92b2ba;
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 0px white;
    top: 40%;
    
}

#forall {
    position: absolute;
    color: #f0a8bb;
    background-color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    padding: 5px;
    top: 55%;

}

.row1, .row2, .row3 {
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
   
}

figure {
    /* display: inline-block; */
    /* margin: 20px 10px 20px 10px; */
    filter: drop-shadow(2px 2px 1px rgba(221, 220, 220, 0.489))

   
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9 {
    height: auto;
    max-width: 100%;
    margin: auto;

}

figcaption {
    background-color: white;
    padding: 1px;
    display: grid;
    

}

h4 {
    color: rgba(142, 182, 185, 0.901);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: auto 10px;
    margin-top: 8px
    
    
}

ul {
    padding: 0;
    display: flex;
    position: relative;
   
}

.options, .price {
    list-style: none;
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4px;
   

}

.options {
    font-size: 7px;
    background-color: #eeeeee;
    color:  #777777;
    margin: auto 10px;
   
}

.price {
    background-color: #f0a8bb;
    color: white;
    font-size: 10px;
    font-weight: bolder;
    position: absolute;
    right: 20px;
    bottom: 25px
  
  
}


footer {
    width: 90%;
    margin: auto;
    background-color:  #eeeeee; 
    display: flex;
    margin: auto;
    justify-content: space-around;
    
}

.service, .flowerbox {
    display: inline-block;
}

.cake {
    height: 70px;
}

.list {
    display: block;
    list-style: none;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
